<%- include partials/components/header.ejs %>
<body style="height: 1000px;">
<%- include partials/components/main_nav.ejs %>

  <!--Main Content-->
  <% if(title == "Home") { %>
    <%- include partials/content/home.ejs %>
  <% } %>
  <% if(title == "About") { %>
    <%- include partials/content/about.ejs %>
  <% } %>
  <% if(title == "Projects") { %>
    <%- include partials/content/projects.ejs %>
  <% } %>
  <% if(title == "Services") { %>
    <%- include partials/content/services.ejs %>
  <% } %>
  <% if(title == "Contact Me") { %>
    <%- include partials/content/contactme.ejs %>
  <% } %>
  <% if(title == "Business Contact") { %>
    <%- include partials/content/login.ejs %>
  <% } %>
  <% if(title == "Business") { %>
    <%- include partials/content/business_contact.ejs %>
  <% } %>
  
</body>


  <%- include partials/components/bottom_nav.ejs %>

  <%- include partials/components/footer.ejs %>

